#projects-section {
  min-height: 100vh;
  max-width: 100vw;
  background-color: rgba(51, 51, 51, 0.85);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.projects-title {
  color: #fff;
  text-align: center;
  font-size: 1.8em;
  position: relative;
  width: 100%;
  margin-top: 8rem;
}

.projects-title::after {
  content: "";
  position: absolute;
  top: calc(100% + 1.5rem);
  height: 5px;
  width: 3rem;
  background: rgb(255, 153, 0);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.projects-content {
  transform: translateY(4rem);
  width: 40%;
  margin-bottom: 20rem;
  position: relative;
  z-index: 999;
}

.project-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  padding: 3rem 0 0 3rem;
  position: relative;
  z-index: 999;
  display: flex;
  overflow: hidden;
  height: 400px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.13), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
}
.project-container:hover .project-image {
  transform: rotate(-5deg);
  transition: all 0.3s ease-in-out;
}

.project-info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 3rem;
}

.project-title {
  font-size: 2em;
  font-weight: bold;
}

.project-description {
  font-size: 18px;
  width: 90%;
}

.project-image-container {
  position: relative;
  width: 50%;
}

.project-image {
  position: absolute;
  width: 900px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.13), 0 1px 4px 0 rgba(0, 0, 0, 0.11);
  transition: all 0.3s ease-in-out;
}

.stack {
  padding-left: 0;
}

.stack-element {
  list-style-type: none;
  display: inline-block;
  padding: 2% 5%;
  background-color: #515151;
  color: #fff;
  border-radius: 70px;
  font-size: 0.8em;
  margin: 5px 5px 5px 0;
}

.cls-1,
.cls-2m {
  fill: none;
  stroke: #f90;
}

.cls-3 {
  fill: #f90;
}

.arrMidLeft {
  right: 20%;
}
.arrMidRight {
  left: 20%;
}

.arrMidRight,
.arrMidLeft {
  width: 10%;
  height: 500px;
  bottom: -20%;
  padding-top: 5px;
  position: absolute;
}

.arrow-text {
  fill: #f90;
  font-weight: bold;
  font-family: "Satoshi", sans-serif;
  font-size: 2.2em;
}

@media only screen and (max-width: 1024px) {
  .project-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    justify-content: flex-start;
  }

  .projects-title {
    font-size: 1.2rem;
  }

  .projects-content {
    width: 80%;
    text-align: center;
    padding-left: 0;
  }

  .project-info {
    width: 100%;
    text-align: center;
  }

  .project-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .project-description {
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
  }

  .project-container:hover .project-image {
    transform: none;
  }

  .stack-element {
    font-size: 0.7rem;
    padding: 1% 3%;
    font-size: 0.8em;
    margin: 5px 5px 5px 0;
  }

  .project-image-container {
    width: 100%;
  }

  .project-image {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  .arrMidRight,
  .arrMidLeft {
    width: 20%;
    height: 500px;
    bottom: -25%;
    padding-top: 5px;
    position: absolute;
    opacity: 0.5;
  }
  .arrMidLeft {
    right: 10%;
  }
  .arrMidRight {
    left: 10%;
  }
}

@media only screen and (max-width: 480px) {
  #projects-section {
    max-width: 100vw;
  }
  .project-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projects-content {
    width: 90%;
    text-align: center;
    padding-left: 0;
  }
  .project-container:hover .project-image {
    transform: none;
  }
  .arrMidRight,
  .arrMidLeft {
    width: 30%;
    height: 550px;
    bottom: -38%;
    padding-top: 5px;
    opacity: 0.5;
    position: absolute;
  }
  .arrMidLeft {
    right: 5%;
  }
  .arrMidRight {
    left: 5%;
  }
  .arrow-text {
    font-size: 2.2em;
  }
}
