* {
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.85);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

body:before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-size: 30%;
  background-image: url("../pattern.svg");
  background-repeat: repeat;
  opacity: 0.05;
}

@media only screen and (max-width: 1024px) {
  body:before {
    background-size: 70%;
  }
}

@media only screen and (max-width: 480px) {
  body:before {
    background-size: 100%;
  }
}
